.preload {
	width: 100%;
	height: 100%;
	background: #2B292E;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo {
	width: 35vw;
	height: 25vh;
	margin: 15vh auto;
	font-size: 4vh;
	text-shadow: -1vh 2vh 2vh #000;
	text-align: center;
	color: azure;
}

.loader-frame {
	width: 7vh;
	height: 7vh;
	margin: 0 auto;
	position: relative;
}

.loader1, .loader2 {
	position: absolute;
	border: 0.5vh solid transparent;
	border-radius: 50%;
}

.loader1 {
	width: 7vh;
	height: 7vh;

	border-top: 0.5vh solid azure;
	border-bottom: 0.5vh solid azure;
	animation: clockwisespin 1s linear 3;
}

.loader2 {
	width: 6vh;
	height: 6vh;
	border-left: 0.5vh solid darkturquoise;
	border-right: 0.5vh solid darkturquoise;
	top: 0.5vh; left: 0.5vh;
	animation: anticlockwisespin 1s linear 3;
}

@keyframes clockwisespin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes anticlockwisespin {
	from {transform: rotate(0deg);}
	to {transform: rotate(-360deg);}
}

@keyframes fadeout {
	from {opacity: 1;}
	to {opacity: 0;}
}

/* general */
body{
  background-color: #000;
  color: white;
}
a {
  text-decoration: none; }
a:hover {
    text-decoration: underline; }
.wrapper{
  height: 6vh;
}
.site-nav > div > div{
  text-align: center;
}
.site-nav > div > div{
  width: 25%;
  background-color: darkblue;
}
.site-header{
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}
.page-link{
  color: #ffffff;
  font-size: 5vh;
}

/* accordion FAQ */
button.accordion {
  width: 100%;
  opacity: 0.8;
  background-color: #2B292E;
  border: 1px solid;
  outline: none;
  text-align: left;
  padding: 15px 20px;
	font-size: 2vh;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.accordion:after {
  content: "+";
  font-family: "fontawesome";
	font-size: 2vh;
  float: right;
}
button.accordion.is-open:after {
  content: "-";
}
button.accordion:hover, button.accordion.is-open {
  background-color: #2B292E;
  opacity: 1.0;
}
.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
.accordion-text {
	padding-top: 1%;
  padding-bottom: -1%;
	font-size: 2vh;
  color: #000;
}
#subject{
  color: white;
}

/* posts */
.post-header{
  margin-bottom: 1%;
  float: left;
}

#test{
	height: 100vh;
	background-image: url("images/5.jpg");
	background-size: cover;
}
#test2{
	height: 100vh;
	background-image: url("images/1.jpg");
	background-size: cover;
}
.post-title{
  font-size: 5vh;
  letter-spacing: -1px;
  line-height: 1;
	margin-top: 5vh;
	float: left
}
.post-content{
  margin-bottom: 5%;
  float: left;
}
.pagewrapper{
  max-width: -webkit-calc(800px - (30px * 2));
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 440px) {
	#test {
		background-image: url("images/5.png");
	}
  #test2{
    background-image: url("images/1.png");
  }
}
.centered {
    color: #ffffff;
    font-size: 6vh;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered > div{
  width: 100%;
}

/* Testimonial */
#testimonial{
	height: 100vh;
	position: relative;
}
.clients-belt{
	width: 25%;
	position: relative;
	float: right;
	max-height: 5vh;
}
@media screen and (max-width: 700px) {
	.clients-belt {
		height: 25%;
		width: 100%;
		margin-bottom: 50vh;
		}
	 #testimonial{
		 height: 100%;
	 }
}
@media (min-width:750px){
	.clients-belt {
		height: 25%;
		width: 50%;
		margin-bottom: 50vh;
		}
	 #testimonial{
		 height: 100%;
	 }
}
.client-name{
	display: block;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.client-title{
	font-style: normal;
  /* font-size: 12px; */
	font-size: 2vh;
  color: gold;
	font-weight: bold;
}
.client-unit{
  max-width: 750px;
  margin: 10px auto;
  position: relative;
}
.client-content{
	font-size: 2.5vh;
  line-height: 36px;
  font-weight: 300;
  margin-top: -10px;
  position: relative;
}
.client-content{
  padding: 0px 30px;
  max-width: 500px;
  margin: 0px auto;
}
.client-face{
  min-width: 180px;
  text-align: center;
}
img{
  max-width: 100px;
  border-radius: 50%;
}

.client-name{
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
 #contact-us > h1{
	text-align: center;
	margin-top: 5%;
	font-weight: 800;
}
 #contact-us > div > h2{
	font-weight: 800;
}
 #contact-us > div> h3 {
	margin-top: 10%;
	font-weight: 800;
}
 #contact-us > div > p{
	margin-top: -2%;
}
 #contact-us > div > img{
	margin-bottom: 3%;
}
.methods{
	width: 33%;
	float: left;
	text-align: center;

}
@media screen and (max-width: 600px) {
	.methods{
		width: 100%;
	}
}
/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover{
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media screen and (max-width : 760px){
  #buttons > div{
    width: 100%;
  }
}
