/* general */
body{
  background-color: #000;
  color: white;
}
.wrapper{
  height: 10%;
}
.site-nav > div > div{
  text-align: center;
}
.site-nav > div > div{
  width: 25%;
  background-color: darkblue;
}
.page-link{
  color: #ffffff;
  font-size: 5vh;
}

/* accordion FAQ */
button.accordion {
  width: 100%;
  opacity: 0.8;
  background-color: #2B292E;
  border: 1px solid;
  outline: none;
  text-align: left;
  padding: 15px 20px;
	font-size: 2vh;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.accordion:after {
  content: "+";
  font-family: "fontawesome";
	font-size: 2vh;
  float: right;
}
button.accordion.is-open:after {
  content: "-";
}
button.accordion:hover, button.accordion.is-open {
  background-color: #2B292E;
  opacity: 1.0;
}
.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
.accordion-text {
	padding-top: 1%;
  padding-bottom: -1%;
	font-size: 2vh;
  color: #000;
}
#subject{
  color: white;
  text-align: center;
}

/* posts */
.post-header{
  margin-bottom: 5%;
  float: left;
}
.post-title{
  font-size: 5vh;
  letter-spacing: -1px;
  line-height: 1;
	margin-top: 5vh;
	float: left
}
.post-content{
  margin-bottom: 5%;
  float: left;
}
.pagewrapper{
  max-width: -webkit-calc(800px - (30px * 2));
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}

/* responsive features */
@media screen and (max-width: 440px){
  .site-nav > div > div{
    width: 100%;
  }
}
