body{
  background-color: #000;
}
.wrapper{
  height: 10%;
}
.site-nav > div > div{
  text-align: center;
}
.site-nav > div > div{
  width: 25%;
}
.page-link{
  color: #ffffff;
  font-size: 5vh;
}
@media screen and (max-width: 440px){
  .site-nav > div > div{
    width: 100%;
  }
}
